body{
    font-family: Arial;
}
#main-heading{
    text-align: center;
}

.grid_container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todoinput,#tododate{
    font-size: 15px;
    padding: 10px 5px;
    
}

#tododate{
    cursor: pointer;
}

.btn_delete{
    padding: 15px 0px;
    background-color: rgb(147, 27, 27);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_add{
    padding: 15px 0px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}